= simple_form_for resource do |f|
  = f.input :state, :collection => stock_states_as_collection
  = f.input :title, :input_html => {'data-autofocus' => true}
  = f.input :amount
  = f.input :remarks, :input_html => {:rows => 4}

  %h3= t('title.invoices')
  = f.input :purchase_invoice, :input_html => {:class => 'combobox'}
  = f.input :selling_invoice, :input_html => {:class => 'combobox'}

  = f.button :submit