= contextual_links

%h1= t_title

%table.zebra-striped.stocks_write_downs.collection
  %thead
    %tr
      %th= t_attr :title, Stock
      %th.currency= t_attr :balance_begin, Stock
      %th.currency= t_attr :change, Stock
      %th.currency= t_attr :write_downs, Stock
      %th.currency= t_attr :balance_end, Stock
  %tbody
    - for stock in @stocks
      %tr[stock]
        %td= link_to stock.title, stock, {'data-href-container' => 'tr'}
        %td.currency= currency_fmt(stock.balance(@start_date))
        %td.currency= currency_fmt(stock.amount_changes(@date))
        %td.currency= currency_fmt(stock.write_downs(@date))
        %td.currency= currency_fmt(stock.balance(@end_date))

= render 'bookings/sidebar'
